
body{
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #333333;
}

.banner-hero-image {

    background-image: url('/assets/hero-flower.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flower-lover-main-image {
            background-image: url('/assets/flower-store.png'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}

@keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /* spin animation */
        .animate-spin-infinite {
            animation: spin 2s linear infinite;
        }


.deal-image-1 {
        background-image: url('/assets/deal-bloom.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
.deal-image-2 {
        background-image: url('/assets/deal-ana.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.deal-image-3 {
        background-image: url('/assets/deal-zabo.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.new-join-bg {
            background-image: url('/assets/news-letter-bg.png'); /* Placeholder for news-letter-bg.png */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }